.about{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background);
    color: var(--primary-text);
    padding-top: 100px;
 

}
.about-container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.about-left{
    width: 45%;
    margin-top: 150px;
}

.content {
    opacity: 0;
    transform:translateX(-20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .content.show {
    opacity: 1;
    transform: translateX(0);
  }
  .imgcontent {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .imgcontent.show {
    opacity: 1;
    transform: translateX(0);
  }
  
.about-left p{
    margin-top: 20px;
}
.about-right{
    margin-top: 30px;
    width: 40%;
    height: 80%;

}
.about-right img{
    width: 100%;
    height: 100%;
}


 

/* Media query for screens with a maximum width of 768px (tablets and smaller) */
@media (max-width: 768px) {

  .about-left{
    width: 80%;
    margin-top: 150px;
    text-align: center;
}
.about-right{
  display: none;
}
.content {
  opacity: 0;
  transform:translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.content.show {
  opacity: 1;
  transform: translateX(0);
}



  /* .about-left,
  .about-right {
    width: 100%;
  }

  .about-right img {
    height: auto; 
  } */
}
