.techskill{
  width: 100%;
  height: 100vh;
}
.techskill-container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}
.techskill h2{
  text-align: center;
}
.techcont-left{
  width: 30%;
  padding-top: 40px;
  /* background-color: #ffa60060; */
  
}
.techcont-left ul li{
  padding: 12px;
}
.techcont-center{
  width: 70%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items:flex-end; 
  row-gap: 20px;
  /* background-color: rgba(137, 43, 226, 0.281); */
}
.techcont-center div{
  display: flex;
  flex-direction: row;
}
.leftcontentvisible{
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease, transform 1s ease;
}
.rightcontentvisible{
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease, transform 1s ease;
}
.show{
  opacity: 1;
  transform: translateX(0);
}
.rangeval{
  margin-left: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #ffa600;
}



/* Webkit browsers (Chrome, Safari) */
input[type="range"] {
  background-color: transparent; 
  width: 350px;
  height: 10px;
  padding-top: 12px;
  margin-left: 20px;
  margin-top: 5px;
 
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--primary-text); 
  border: none;
  width: 16px; 
  height: 16px; 
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffa600; 
  height: 8px; 
  border-radius: 5px;

}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  background-color: var(--primary-text); 
  border: none;
  width: 16px; 
  height: 16px; 
  cursor: pointer;
  box-shadow: 2px 2px 10px #ffa600;
}

input[type="range"]::-moz-range-track {
  background-color: #ffa600; 
  height: 8px; 
  border-radius: 5px;
  /* box-shadow: 2px 0 4px #ffa600; */
}

/* Edge */
input[type="range"]::-ms-thumb {
  background-color: var(--primary-text); 
  border: none;
  width: 16px; 
  height: 16px; 
  cursor: pointer;

}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background-color: #ffa600; 
}

input[type="range"]::-ms-track {
  background-color: #ffa600; 
  height: 8px; 
  border-radius: 5px;

}
.skill-icon{
  font-size: 30px;
  box-shadow: 2px 2px 10px #ffa600;
}
