.contact{
    width: 100%;
    height: 100vh;
}
.contact-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.24);
    height: 80%;
    margin-top: 40px;
}