.leftside{
    transform: translateX(-200px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 1s ease;
}
.rightside {
    transform: translateX(200px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 1s ease;
  }
.show{
    opacity: 1;
    transform: translateX(0);
    /* transition: all 1s ease; */

}
.card{
    box-shadow: 2px 2px 6px #ffa600;
    margin-bottom: 50px;
}
/* .showright{
    opacity: 1;
    transform: translateX(0);
  

} */
